<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Username</strong>: <%= user.username %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <% if(user.name){ %>
              <h2>Hi <%= user.name %>, welcome to carchive!</h2>
            <% } else{ %>
              <h2>Welcome to carchive!</h2>
            <% } %>
          </div>
          <div class="mt-5">
            <h2>New refuel</h2>
            <form action="/refuel/createRefuel" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="mb-3">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" id="date" name="date">
              </div>
              <div class="mb-3">
                <label for="odometer" class="form-label">Odometer</label>
                <input type="number" class="form-control" id="odometer" name="odometer">
              </div>
              <!-- 8/1/24: Add ability to autocalculate one of the next 3 fields based on input from 2 -->
              <div class="mb-3">
                <label for='gallons' class='form-label'>Gallons</label>
                <input type='number' min='0.01' step='0.01' class='form-control' id='gallons' name='gallons'>
              </div>
              <!-- Put $ next to form input -->
              <div class='mb-3'>
                <label for='costPerGal' class='form-label'>Cost per gallon:</label>
                <input type='number' min='0.01' step='0.01' class='form-control' id='costPerGal' name='costPerGal'>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<refuels.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <h2><%= refuels[i].date %>: <%= refuels[i].odometer %> miles</h2><!-- 8/20/24: Date is wrong, showing 8/19/24 for dates entered as 8/20/24 -->
            <a href="/refuel/<%= refuels[i]._id%>">
              <img class="img-fluid" src="<%= refuels[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>